.aboutimg {
  margin: auto;
  width: 75%;
  object-fit: cover;
  border-radius: 8px;
}

.paragraphs {
  padding: 0px 8px;
  border: 1px solid var(--accent);
  border-radius: 8px;
}

.table-container {
  max-width: 100%;
  overflow-x: none;
  margin-top: -25px;
}

caption {
  color: white;
  background-color: var(--primary);
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

thead tr th:first-of-type {
  border-top-left-radius: 0;
}

thead tr th:last-of-type {
  border-top-right-radius: 0;
}
